@model TaskManager.Entity.Tasks

@{
    ViewData["Title"] = "Yeni Görev Planla";
}

<h1 class="text-center">Yeni Görev Planla</h1>

<hr />
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <form asp-action="Create" class="font-weight-bold">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Header" class="control-label">Başlık</label>
                    <input asp-for="Header" class="form-control" />
                    <span asp-validation-for="Header" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Body" class="control-label">İçerik</label>
                    <input asp-for="Body" class="form-control" />
                    <span asp-validation-for="Body" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TaskDate" class="control-label">Tarih</label>
                    <input asp-for="TaskDate" class="form-control text-danger font-weight-bold" />
                    <span asp-validation-for="TaskDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Oluştur" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>
<hr />
<div>
    <a asp-action="Index" class="btn btn-outline-primary mt-4">Tüm Görevlere Geri Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
