<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Görev Yöneticisi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="shadow font-weight-bold" style="font-size:18px;">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand mr-5" asp-area="" asp-controller="Tasks" asp-action="Index">Görev Yöneticisi <i class="far fa-calendar-check" ></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse align-content-between ml-5">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark bg-secondary rounded-pill" asp-area="" asp-controller="Tasks" asp-action="Index"><i class="fas fa-caret-right"></i> Tüm Görevler </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark bg-primary rounded-pill" asp-area="" asp-controller="Tasks" asp-action="Index" asp-route-tarihAraligi="Günlük"><i class="fas fa-caret-right"></i> Günlük Görevler </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark bg-warning rounded-pill" asp-area="" asp-controller="Tasks" asp-action="Index" asp-route-tarihAraligi="Haftalık"><i class="fas fa-caret-right"></i> Haftalık Görevler </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark bg-success rounded-pill" asp-area="" asp-controller="Tasks" asp-action="Index" asp-route-tarihAraligi="Aylık"><i class="fas fa-caret-right"></i> Aylık Görevler </a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>*@
                    </ul>
                </div>
                <form class="form-inline" asp-controller="Tasks" asp-action="Search" method="post">
                    <input class="form-control mr-sm-2" name="searchText" type="search" placeholder="Aranacak Kelime" aria-label="Ara">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Ara <i class="fas fa-search fa-spin slow-spin"></i></button>
                </form>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Görev Yöneticisi - Tüm Hakları Saklıdır.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/b93de3bc03.js" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
